.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-white);
  border-radius: 8px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 1.5rem 2rem;
  margin-bottom: 10px;
}

.left-content {
  display: flex;
  align-items: center;
}

.left-content .edit-icon {
  width: 18px;
  height: 18px;
  margin-left: 15px;
}

.todo-item-title {
  font-weight: 500;
  display: inline-block;
}

.todo-item {
  margin-top: 2rem;
}

input[type="checkbox"] {
  vertical-align: middle;
  margin-right: 25px;
}

input[type="checkbox"]:checked ~ .todo-item-title {
  text-decoration: line-through;
}
